<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SentinelCoreHost.Settings1"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<SentinelCoreHost.Settings1>
			<setting name="EndpointUrl" serializeAs="String">
				<value>http://192.168.50.4:11434</value>
			</setting>
			<setting name="CoreModel" serializeAs="String">
				<value>gpt-oss:20b-cloud</value>
			</setting>
			<setting name="DomainAgents" serializeAs="String">
				<value>gpt-oss:120b-cloud</value>
			</setting>
			<setting name="Coretemp" serializeAs="String">
				<value>0.05</value>
			</setting>
			<setting name="DomainTemp" serializeAs="String">
				<value>0.04</value>
			</setting>
			<setting name="ConfidenceFreeze" serializeAs="String">
				<value>0.95</value>
			</setting>
		</SentinelCoreHost.Settings1>
	</userSettings>
</configuration>